{% extends "base.html" %}

{% load cms_tags staticfiles  %}

{% block title %}
{% page_attribute "page_title" %}{% endblock title %}
{% block content %}

	{% placeholder content  or%}

      
{%endplaceholder%}
<!--{% static_placeholder "Footer" or %}-->
<!--    <div class="footer py-5 text-center">-->
<!--      <div class="container"style="display: inline-flex; align-content: space-between"  >-->

<!--      <p>-->
<!--        Контакты:-->
<!--                <br>Адрес: Кыргызская Республика, г. Бишкек,-->
<!--                <br> ул. Курманжан Датка, 207.-->
<!--				<br>E-mail: <a class="mail" href="mailto:iarc.institute@gmail.com"> iarc.institute@gmail.com </a>-->
<!--				<br>Тел: <a href="tel:+996551779422">+996551779422</a>-->
<!--			</p>-->
<!--        <div class="row mb-5" style="margin: 0 auto; padding-top: 50px ; display: inline-block">-->
<!--          <div class="col-12" >-->
<!--            <p class="mb-0">-->
<!--              <a href="#" class="p-3"><span class="icon-facebook"></span></a>-->
<!--              <a href="#" class="p-3"><span class="icon-twitter"></span></a>-->
<!--              <a href="#" class="p-3"><span class="icon-instagram"></span></a>-->
<!--              <a href="#" class="p-3"><span class="icon-linkedin"></span></a>-->
<!--              <a href="#" class="p-3"><span class="icon-pinterest"></span></a>-->
<!--            </p>-->
<!--          </div>-->
<!--        </div>-->

<!--        <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2922.398516605417!2d74.62976191547376!3d42.90663557915391!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb8292e059ef9%3A0x9b0d0398504f0798!2zMjA3INGD0LsuINCa0YPRgNC80LDQvdC20LDQvSDQlNCw0YLQutCwLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1586507291627!5m2!1sru!2skg" width="250" height="170" frameborder="0" style=" display: inline-block; border-color: #0d95e8; border-width :5px; border-radius: 20%; " allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->

<!--      </div>-->
<!--      <div class="row" >-->
<!--      <div class="col-md-12">-->
<!--            <p class="mb-0">-->

<!--            &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--              Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="icon-heart text-danger" aria-hidden="true"></i> by <a style="visibility: hidden" href="https://colorlib.com" target="_blank" >Colorlib</a>-->
<!--              &lt;!&ndash; Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. &ndash;&gt;-->
<!--            </p>-->

<!--          </div>-->
<!--    </div>-->
<!--    </div>-->

<!--{%endstatic_placeholder%}-->



{% endblock content %}
